# === Core & AI ===
fastapi
uvicorn[standard]
python-dotenv
requests
pandas
psycopg2-binary
google-generativeai
langchain
langchain-community
sentence-transformers
scipy
chromadb
pypdf

# === Data Engineering & Security ===
# dbt-postgres
# boto3
passlib[bcrypt]
python-jose[cryptography]

# === Frontend ===
streamlit

# === Utility Belt ===
#black
#ruff
#pytest
#httpx

# For creating PDF reports from your apps
#reportlab

# For more advanced database interactions (ORM)
#SQLAlchemy


#numpy

#  AWS
#aws-sam-cli